/* Error Component Styles */

.animate-slow-bounce {
    animation: slow-bounce 3s ease-in-out infinite;
}

@keyframes slow-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}